APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENV=production

SESSION_SECRET=change-me
CSRF_SECRET=change-me
SESSION_IDLE_TIMEOUT_MIN=20
SESSION_ABSOLUTE_TIMEOUT_H=8
SESSION_COOKIE_SECURE=true

LDAP_URL=ldaps://ad.example.org:636
LDAP_BASE_DN=DC=example,DC=org
LDAP_BIND_DN=CN=svc-ldap,OU=Service Accounts,DC=example,DC=org
LDAP_BIND_PASSWORD=change-me
LDAP_USER_FILTER=(&(objectClass=user)(sAMAccountName={username}))
LDAP_USE_UPN=false
LDAP_ATTRS=displayName,mail,memberOf,objectGUID
LDAP_CA_CERT=/etc/ssl/certs/ad-ca.pem
LDAP_TIMEOUT_SECONDS=5

RATE_LIMIT_LOGIN_PER_MIN=5
RATE_LIMIT_CHAT_PER_MIN=30
LOCKOUT_THRESHOLD=5
LOCKOUT_WINDOW_MIN=15
LOCKOUT_DURATION_MIN=30
REQUIRED_AD_GROUP_DN=

OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3
OLLAMA_TIMEOUT_SECONDS=30
CHAT_CONTEXT_MESSAGES=8
